# Ignore node_modules directory
node_modules/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore build artifacts
/dist/
/build/

# Ignore environment configuration files
.env

# Ignore personal sensitive data
config.json

# Ignore temporary files
*.tmp
