<!DOCTYPE html>
<html lang="en">
  <!-- Header -->
  <%- include('layouts/header'); -%>
  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
    <!-- Main Content-->
    <main>
      <h1>Under Construction...</h1>
    </main>
    <!-- Footer-->
    <%- include('layouts/header'); -%>
    <!-- Scripts -->
    <%- include('layouts/scripts'); -%>
  </body>
</html>
